@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth
}

.btn {
    --button_radius: 0.5em;
    --button_color: #FFA047;
    --button_outline_color: #56180A;
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
    @apply max-md:text-[12px]
}

.button_top {
    display: flex;
    align-items: center;
    gap: 5px;
    box-sizing: border-box;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: .5em 1em;
    background: var(--button_color);
    color: var(--button_outline_color);
    transition: transform .1s ease;
}

.btn:hover .button_top {
    transform: translateY(-0.33em);
}

.btn:active .button_top {
    transform: translateY(0);
}

.projects-dots{
    @apply bg-green-500
}


.arrow {
    position: relative;
    top: 45%;
    cursor: pointer;
    z-index: 10;
    border-radius: 50%;
}

.arrow-left {
    left: -25px;
    position: absolute
}

.arrow-left-img {
    left: 5px;
    position: absolute
}

.arrow-right {
    right: -25px;
    position: absolute
}
.arrow-right-img {
    right: 5px;
    position: absolute
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 5px;
    width: 0px
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5)
}

strong{
    position: relative;
}

strong::before{
content: '';
width: 100%;
position: absolute;
height: 110%;
background-color: #49de80;
z-index: -1;
rotate: 2deg;
}

.loader {
    display: flex;
    align-items: center;
  }
  
  .bar {
    display: inline-block;
    width: 3px;
    height: 20px;
    background-color: #fff;
    border-radius: 10px;
    animation: scale-up4 1s linear infinite;
  }
  
  .bar:nth-child(2) {
    height: 35px;
    margin: 0 5px;
    animation-delay: .25s;
  }
  
  .bar:nth-child(3) {
    animation-delay: .5s;
  }
  
  @keyframes scale-up4 {
    20% {
      background-color: #49de80;
      transform: scaleY(1.5);
    }
  
    40% {
      transform: scaleY(1);
    }
  }